/.DS_Store

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdf
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.dvi
_minted-*/
